.projectWrapper {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50vw;
  margin: 0;
}

.projectCard {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}
